.pokemon-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  padding: 10px;
}

.search-history ul {
  list-style-type: none;
  padding: 0;
}

.search-history ul li {
  cursor: pointer;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.search-history ul li:hover {
  background-color: #f0f0f0;
}

.pokemon-detail {
  position: relative;
}

.pokemon-detail button {
  position: absolute;
  top: 10px;
  right: 10px;
}
