form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  div {
    margin-bottom: 20px;
    height: 80px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:hover, select:hover {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .button-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
    .button-disabled:hover {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    min-height: 16px;
  }
  
  .checkbox label {
    display: flex;
    align-items: center;
  }
  
  .checkbox label p {
    margin-left: 8px;
    font-size: 14px;
  }
  
  input[type="checkbox"] {
    width: 10px;
  }

  .picture-feld {
    display: flex;
    align-items: center;
    border: 1px solid black;
  }

  .img-container {
    margin: 5px;
  }

  .main-pictue-container{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .button-link:hover {
    background-color: #0056b3;
  }